@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Hero section

@keyframes up-down {
  0% {
    transform: translateY(3rem);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3rem);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(3rem);
  }
}
