/*--------------------------------------------------------------
# GENERAL SETTINGS
--------------------------------------------------------------*/

/* 
FONT SIZE (px): 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

SPACING (px): 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --color-primary: #1d1d57;
  --color-secondary: #e14a4a;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (min-width: 140em) {
  html {
    font-size: 87.5%;
  }
}
@media (min-width: 90em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 26.5625em) {
  html {
    font-size: 50%;
  }
}

body {
  background: #fff;
  color: #111;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
*::selection {
  color: #fff;
  background-color: var(--color-secondary);
}
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: 0.5s;
}
a:hover,
a:active,
a:focus {
  color: var(--color-secondary);
  outline: none;
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0 0 3.2rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 2.4rem 0;
  padding: 0;
}
