@import "./_base.scss";
@import "./utilities";
@import "./animations";

@import "./components/about";
@import "./components/backToTop";
@import "./components/clients";
@import "./components/contact";
@import "./components/copyright";
@import "./components/cta";
@import "./components/footer";
@import "./components/header";
@import "./components/hero";
@import "./components/navigation";
@import "./components/portfolio";
@import "./components/services";
@import "./components/statastics";
@import "./components/technology";
@import "./components/why-us";
