#about {
  padding: 8rem 4.8rem;
}
#about .container {
  padding: 0;
  margin: 0;
}
#about .about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
#about .about-img {
  flex-basis: 40%;
  position: relative;
  padding: 0;
  margin: 0;
}
#about .about-img img {
  width: 80%;
  border: 0.8rem solid #fff;
  transition: 0.5s;
}
#about .about-img img:hover {
  width: 80%;
  transform: scale(1.03);
}
#about .about-img::before {
  position: absolute;
  left: -3.1rem;
  top: -3.1rem;
  width: 75%;
  height: 92%;
  z-index: -1;
  content: "";
  background-color: #ebf1fa;
  transition: 0.5s;
}
#about .about-img::after {
  position: absolute;
  right: 5.9rem;
  bottom: -3rem;
  width: 75%;
  height: 92%;
  z-index: -1;
  content: "";
  background-color: #ebf1fa;
  transition: 0.5s;
}
#about .about-text {
  flex-basis: 50%;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}
#about .about-text h2 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;
}
#about .about-text p {
  font-size: 1.6rem;
  max-width: 75ch;
  margin: 0 auto;
  margin-bottom: 1em;
}

@media (max-width: 78em) {
  #about .about-img {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4.8rem;
  }
}

@media (max-width: 47.625em) {
  #about {
    flex-direction: column;
  }
  #about .about__container {
    flex-direction: column;
  }
  #about .hero__content {
    order: 2;
    padding-bottom: 4.8rem;
  }
  #about .about-text {
    width: 100%;
  }
}

@media (max-width: 26.56em) {
  #about .about-text h2 {
    font-size: 3rem;
  }
  #about .about-img::after {
    right: 3.2rem;
  }
  #about .about-img::before {
    left: -2.9rem;
  }
}
