#clients {
  padding: 8rem 4.8rem;
}
#clients .section-header h3 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

#clients img {
  opacity: 1;
  transition: 0.3s;
}
#clients img:hover {
  opacity: 1;
}
#clients .swiper-wrapper {
  margin-bottom: 3.2rem;
}
#clients .swiper-pagination {
  margin-top: 5rem;
  position: relative;
}
#clients .swiper-pagination .swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--color-primary);
}
#clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

@media (max-width: 26.56em) {
  #clients {
    padding: 6rem 3.6rem;
  }
}
.big-logo {
  @media screen and (max-width: 375px) {
    width: 60px;
  }
}
.small-logo {
  @media (max-width: 375px) {
    width: 110px;
  }
}
