#cta {
  background: var(--color-primary);
}
#call-to-action {
  background-size: cover;
  padding: 2rem 4.8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
}
#call-to-action .cta-title {
  color: #fff;
  font-size: 2.6rem;
  font-weight: 600;
  margin: 0;
}
#call-to-action .cta-btn {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0.8rem 2.6rem;
  border-radius: 3px;
  transition: 0.5s;
  margin: 1rem;
  border: 1px solid #fff;
  color: #fff;
  background-color: var(--color-secondary);
}
#call-to-action .cta-btn:hover {
  background: var(--color-primary);
  border: 1px solid #fff;
}
@media (max-width: 48em) {
  #call-to-action {
    flex-direction: column;
  }
}
@media (max-width: 26.56em) {
  #call-to-action {
    padding: 4rem 3.6rem;
  }
}
