/* SERVICES SECTIONS
--------------------------------*/
#services {
  padding: 8rem 4.8rem;
}
#services .services-content {
  padding: 0 4.8rem;
}
#services .section-header h2 {
  font-size: 3.6rem;
  color: var(--color-primary);
  text-align: center;
  font-weight: 700;
  position: relative;
}
#services .section-header p {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  max-width: 50%;
}
#services .box {
  padding: 3.2rem;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1rem 3rem 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  height: 100%;
  border-radius: 0.5rem;
}
#services .box:hover {
  transform: scale(1.1);
}
#services .icon {
  margin: 0 auto 1.5rem auto;
  padding-top: 1.2rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}
#services .icon i {
  font-size: 3.6rem;
  line-height: 0;
}
#services .title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
#services .title {
  color: var(--color-primary);
}
#services .box:hover .title {
  color: var(--color-primary);
}
#services .description {
  font-size: 1.4rem;
  line-height: 2.4rem;
  margin-bottom: 0;
  text-align: center;
}

@media (max-width: 48em) {
  #services .section-header p {
    max-width: 100%;
  }
  #services .services-content {
    padding: 0;
  }
}
@media (max-width: 26.5625em) {
  #services {
    padding: 4rem 3.6rem;
  }
  #services .section-header h3 {
    font-size: 3rem;
  }
}
