.technology-section {
  padding: 8rem 0;
  font-size: 1.8rem;
}
#technology .section-header h2 {
  font-size: 3.6rem;
  color: var(--color-primary);
  text-align: center;
  font-weight: 700;
  position: relative;
  margin-bottom: 4rem;
}
#technology .section-header p {
  text-align: center;
  margin: auto;
  font-size: 1.8rem;
  padding-bottom: 6rem;
  color: var(--color-primary);
  width: 50%;
}
#technology .nav {
  justify-content: center;
}
#technology .nav-pills .nav-link.active {
  background-color: transparent;
  color: var(--color-primary);
  border-bottom: 0.3rem solid var(--color-secondary);
  color: var(--color-secondary);
}
#technology .nav-pills {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#technology .nav-pills .nav-link {
  border-radius: 0;
  padding: 1rem 4rem;
  color: var(--color-primary);
  font-weight: 600;
}
#technology .techno__item {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#technology .techno__item .techno__item-icon {
  margin: 3rem 5rem;
}
#technology .techno__item .techno__item-icon img {
  width: 8rem;
  height: 8rem;
}
#technology .techno__item .techno__item-icon p {
  font-size: 1.4rem;
  margin: 0;
}

@media (max-width: 67.5em) {
  #technology .techno__item .techno__item-icon {
    margin: 2rem 2.5rem;
  }
}
@media (max-width: 48em) {
  .section-header p {
    width: 100%;
  }
}
@media (max-width: 26.56em) {
  #technology .section-header h2 {
    font-size: 3rem;
  }
}
